* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image:url(../imagenes/background.png);
    width: 100%;
    background-size: cover;
}


a {
    text-decoration: none;
}
li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
    background-color: white;
    padding: 10px 20px;
   
}

.userli{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.login {
    display: flex;
    margin-right: 10px;
}

.loginli {
    margin-right: 10px;
}

.logoimg {
    width: 103px;
    border-radius: 50%;
}

.menuarticle {
    display:flex;
    flex-direction: row;
}

.menusections {
    display: flex;
    flex-direction: column;
}



.banner {
    width: 100%;
    margin-bottom: 20px;
    border: black solid 3px;
}

.menuimg {
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;

}

p{
    color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.productosmenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #a64040;
    margin-left: 60px;
    border-radius: 20px;
    padding: 20px;
    width: 92%;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 234px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: solid 2px white;
    margin: 5px;
}

.menuimg {
    border-radius: 20px;
    align-self: center;
}

.comidalink {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
}

h1, h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.apellidosul {
    display: flex;
    justify-content: space-around;
}

.navlink{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
.form_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    margin-bottom: 300px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.plogin{
    color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.divlogin, .terminos {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.buttonlogin {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.inputregister {
    align-self: center;
    width: auto;
}

.img_product {
    margin: 20px;
    width: 600px;
    border-radius: 10px;
    height: 700px;
}
.p_product {
    font-size: 20px;
    text-align: left;
    color: black;
}

.navlistproduct {
    display: flex;
    margin-right: 40px;
    padding-right: 20px;
}

.product_name {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 25px;
}

.product_detail {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.product_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 30px;
}

nav {
    background-color:  #0f6b2e;
    width: auto;
    padding-right: 61px;
    border: 3px solid black;
}

.no-results {
    display: none;
}

.divregister {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.buttonregister {
    display: flex;
    justify-content: center;
    width: 60%;
}
header p {
    color: black;
    padding: 0;
    margin-right: 20px;
    font-size: 14px;
}

@media (max-width: 1024px) {
  header {
    padding: 8px 12px;
  }

  .login {
    margin-right: 8px;
  }

  .productosmenu {
    margin-left: 20px;
    width: calc(100% - 40px);
  }

  .menu {
    width: 280px;
  }

  .img_product {
    width: 520px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .menuarticle {
    flex-direction: column;
}

  nav {
    width: 100%;
    padding: 8px 12px;
    border-width: 2px;
  }

  .navlink {
    font-size: 22px;
    margin-left: 12px;
  }

  .banner {
    margin-bottom: 12px;
    border-width: 2px;
  }

  .productosmenu {
    margin-left: 0;
    width: 100%;
    border-radius: 12px;
  }

  .menu {
    width: 476px;
    margin: 12px;
  }

  .menuimg {
    width: 160px;
    height: 160px;
    padding: 8px;
  }

  .form_user {
    width: min(420px, 90%);
    margin: 16px auto 120px;
  }

  .product_detail {
    gap: 12px;
    padding: 0 12px;
  }

  .img_product {
    width: 100%;
    height: auto;
    margin: 12px 0;
  }

  .product_info {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: stretch;
    margin-right: 8px;
  }

  .logoimg {
    width: 80px;
  }

  .search {
    width: 100%;
    padding: 6px;
    border: 1px black;
    border-radius: 5px;
  }

  .login {
    justify-content: center;
    margin-right: 0;
    margin-right: 6px;
  }

  h1 { font-size: 24px; }
  h2 { font-size: 20px; }

  .productosmenu {
    border-radius: 0;
    padding: 12px;
  }

  .menu {
    width: 100%;
    margin: 8px 0;
    border-radius: 12px;
  }

  .menuimg {
    width: 140px;
    height: 140px;
    padding: 6px;
  }

  .comidalink {
    display: inline-block;
    margin-left: 12px;
    padding: 8px 10px;
    border-radius: 4px;
  }

  .form_user {
    width: 92%;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 80px;
  }

  .buttonlogin,
  .buttonregister {
    width: 100%;
    margin-right: 10px;
    justify-content: center;
  }

  .product_detail {
    flex-direction: column;
    align-items: center;
  }

  .product_name {
    margin-left: 0;
    text-align: center;
  }

  .apellidosul {
  margin-right: 16px;
  margin-bottom: 6px;
}

  }