* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
}

.login {
    display: flex;
    margin-right: 10px;
}

.loginli {
    margin-right: 10px;
}

.logoimg {
    width: 103px;
}

.menuarticle {
    display:flex;
    flex-direction: row;
}

.menusections {
    display: flex;
    flex-direction: column;
}

nav {
    margin-right: 61px;
}

.banner {
    width: 100%;
    margin-bottom: 20px;
}

.menuimg {
    width: 200px;
    height: 200px;
    margin: 20px;
}

